@CHARSET "ISO-8859-1";
input {
  border: #000;
  padding: 10px;
  font-size: 1.2em !important;
  width: 100%;
  color: blue !important;
  
}
input::placeholder {
  color: grey !important;
}